USE [master]
GO
/****** Object:  Database [DepartmentTree]    Script Date: 03.12.2020 20:24:09 ******/
CREATE DATABASE [DepartmentTree]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DepartmentTree', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DepartmentTree.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DepartmentTree_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DepartmentTree_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DepartmentTree].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DepartmentTree]
GO
/****** Object:  Table [dbo].[Departments2]    Script Date: 03.12.2020 20:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Parent_Id] [int] NULL,
 CONSTRAINT [PK_Departments2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments2]  WITH CHECK ADD  CONSTRAINT [FK_Departments2_Departments2] FOREIGN KEY([Parent_Id])
REFERENCES [dbo].[Departments2] ([Id])
GO
ALTER TABLE [dbo].[Departments2] CHECK CONSTRAINT [FK_Departments2_Departments2]
GO
USE [master]
GO
